/*Declaracion de variables*/

:root {
--color-fondo: #211C84;
--color-texto-primario: #ffffff;
--color-texto-secundario: #000000;

--fuente-titulo: 'Roboto', sans-serif;
--fuente-texto: 'Open Sans', sans-serif;
}

*{
padding: 0;
margin: 0;
}

body {
background-color: #211C84;
padding: 5%;
}

.presentacion {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.presentacion__titulo {
    font-family: var(--fuente-titulo);
    color: var(--color-texto-primario);
    text-align: center;
}

.contenedor {
    font-family: var(--fuente-texto);
    text-align: center;
    font-size: 24px;
    color: var(--color-texto-secundario);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor__uno {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .div1 {
        border-style: solid;
        padding: 20px;
        border-radius: 10px;
    }
    
    .div2 {
        border-style: solid;
        padding: 20px;
        border-radius: 10px;
    }
}

.contenedor__dos {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .div3 {
        border-style: solid;
        padding: 20px;
        border-radius: 10px;
    }
    
    .div4 {
        border-style: solid;
        padding: 20px;
        border-radius: 10px;
    }
}


